<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="css/styly.css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>{% block footer %}{% endblock %}</footer>
        {% block javascripts %}{% endblock %}
    </body>

    
</html>
